.header {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 50rem;
	margin-inline: auto;
	padding: 1rem;
	height: 8rem;
}

.githubIcon svg {
	transition: transform 0.3s ease;
}

.githubIcon svg:hover {
	transform: scale(1.1);
}
